button:focus{
    border: none !important;
    outline: none !important;
}
button:active{
    border: none !important;
    outline: none !important;
}
.myBtn{
    border: none;
    padding: 10px 30px;
    margin: 1.5rem auto;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #13b0e4;
    color: #fff;
    transition: all linear .5s;
}
.myBtn:hover{
    background-color: #106e8d;
}
.currentDiv{
    display: grid;
    place-items: center;
}
